.card {
  width: 300px;
  height: 450px;
  border: 1px solid #daa520;
  margin: 20px;
}

.background-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.cont-center {
  text-align: left;
}

.cont {
  height: 250px;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.cont-center h3 {
  font-size: 20px;
}

.category {
  color: #daa520;
  font-weight: bold;
  margin: 5px 0;
}

.price {
  text-align: right;
}
